__pycache__
.env
.envrc
.envrc_*
.ipynb_checkpoints
.jupyter
.cache
/.history
**/iframe_figures
cookbooks/*/resources/outputs
cookbooks/*/resources/*/outputs/*
!cookbooks/*/resources/*/outputs/.gitme
cookbooks/r_&_d/*/resources/*/outputs/*
!cookbooks/r_&_d/*/resources/*/outputs/.gitme
cookbooks/r_&_d/vpop_generation_inn/resources/vpop_generation_with_deep_learning/*
