__pycache__
.envrc
.envrc_*
.ipynb_checkpoints
.jupyter
.cache
/.history
**/iframe_figures
cookbooks/outputs/*
!cookbooks/outputs/.gitme
cookbooks/model-lib/**
cookbooks/resources/reviewing_model_versions
cookbooks/resources/track_model_versions
cookbooks/resources/download_models