*.ipynb filter=cleanup-notebook
cookbooks/trial_design_optimization_continuous_outcome.ipynb -filter
cookbooks/trial_design_optimization_time_to_event.ipynb -filter
cookbooks/trial_design_optimization_binary_outcome.ipynb -filter
cookbooks/post_calibration_uq.ipynb -filter
cookbooks/hessian_matrix.ipynb -filter
cookbooks/bayesian_optimization.ipynb -filter
cookbooks/pre_calibration_uq.ipynb -filter
